.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 45PX;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    text-align: center;
    font-size: 45PX;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    text-align: center;
    font-size: 25PX;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display {
    grid-column: span 4;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(231, 243, 231);
    font-size: 25px;
    text-align: right;
}

.margen {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px;
    margin: 10px;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: rgb(90, 87, 87);
}

button {
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    font-size: 25px;
    background-color: snow;
}

button:active {
    background-color: rgb(228, 85, 85);
}

#id_igual {
    grid-column: span 2;
}